<div>
    <h1>My Account</h1>
    <div class="account">
        <div class="account-info d-flex justify-content-around">
            <div class="post p-2">
                <div class="post-header">

                    <!-- If we use /image/filename.png it works for files on thr 
                database but not image links, so we need to make the default image a file stored in the database aswell -->
                    <img class="profile_picture" src="{{session.user.photo_link}}" alt="profile_picture">
                    <!-- make form to upload photo -->
                    <!-- /users/account/image -->
                    <form id="change-profile-pic" action="/users/account/image" method="POST" enctype="multipart/form-data">
                        <div>
                            <input id="image-selector" type="file" name="image" value="Post" accept=".png, .jpeg, .jpg, .gif">
                            <button class="pink-button" style='display:none;' id="submit" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div id="account-name">{{session.user.name}}</div>
            </div>
        </div>
        <div class="posts p-2">
            {{#each posts}}
            <div class="post">
                <div class="post-header">
                    <img class="profile_picture" src="{{this.photo_link}}" alt="profile_picture">
                    {{this.name}} - {{this.date_string}}
                </div>
                {{#if this.image}}
                <img src="{{this.image}}" class="postImage" alt="">
                {{/if}}
                <hr class="post-hr">
                <div class="post-message">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-sm-11">
                                <!-- create a like button and the number of likes -->
                                <form method="POST" action="/posts/like">
                                    <input type="hidden" value="{{this._id}}" name="postId">
                                    <input type="hidden" value="{{../session.user._id}}" name="userId">
                                    {{this.message}}
                                    <input type="submit" value="" id="like-button">
                                    {{#if this.likes}}
                                    <span id="like-number">{{this.likes.length}}</span>
                                {{/if}}
                                </form>
                            </div>
                            <div class="col-1">
                                {{#if this.owner}}
                                <!-- Delete a post -->
                                <form id="delete-post-form" action="/posts/delete/{{this._id}}" method="post">
                                    <input id="delete-button-post" type="image" src="../images/trash_can.webp" alt="Delete image">
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#each this.comments}}
                <div class="container post-comment">
                    <div class="row">
                        <div class="col-10 col-sm-11">
                            <div class="comment">{{this.name}} - {{this.message}} - {{this.createdAt}}</div>
                        </div>
                        <div class="col-1" style="margin-left: -20px;">
                        {{#if this.comment_owner}}
                            <!-- Delete a comment -->
                            <form id="delete-comment-form" action="/posts/comment/delete/{{this.post_id}}/{{this._id}}" method="post">
                                <input id="delete-button-comment" type="image" src="../images/trash_can.webp" alt="Delete image">
                            </form>
                        {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}} 
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#image-selector").on("change", function () {
        $("#submit").show();
    })
</script>