<div class="form-post-image">
  <form id="new-post-form" action="/posts" method="post" enctype="multipart/form-data">
    <div id="message-container"><label for="message">What's on your mind?</label></div>
    <div id="post-message-plus-button">
      <input id="message" type="text" name="message" >
      <input id="input-post" type="submit" value="Post">
    </div>
    <div><input id="image-selector" type="file" name="image" value="Post" accept=".png, .jpeg, .jpg, .gif, .webp"></div>
  </form>
</div>

<ul class="posts">
  {{#each posts}}
  
  <div class="post">
     
    
    <div class="post-header bg-overlay-thing"> 
     {{#if this.isProfileFriend}}
      <img class="friend-profile-picture" src="{{this.photoLink}}" alt="profile-picture">
      <a class="profile-link" href="/users/{{this.userId}}">{{this.name}}</a> - {{this.dateString}}
    {{else}}
      <img class="profile-picture" src="{{this.photoLink}}" alt="profile-picture">
      <a class="profile-link" href="/users/{{this.userId}}">{{this.name}}</a> - {{this.dateString}}
  {{/if}}
    </div>
    {{#if this.image}}
      <img src="{{this.image}}" class="post-image" alt="">
    {{/if}}
    <hr class="post-hr">
    <div class="post-message">
      
      <!-- Bootstrap grid system -->
      <div class="container">
        <div class="row">
          <div class="col-10 col-sm-11">
            <!-- create a like button and the number of likes -->
            <form method="POST" action="/posts/like">
              <input type="hidden" value="{{this._id}}" name="postId">
              <input type="hidden" value="{{../session.user._id}}" name="userId">
              {{this.message}}
              <input type="submit" value="" id="like-button">
              {{#if this.likes}}
              <span id="like-number">{{this.likes.length}}</span>
              {{/if}}
            </form>
          </div>
          <div class="col-1">
            {{#if this.owner}}
              <!-- Delete a post -->
              <form id="delete-post-form" action="/posts/delete/{{this._id}}" method="post">
                <input id="delete-button-post" type="image" src="../images/trash-can.webp" alt="Delete image">
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div> 
    <!-- create a comment on the post -->
    <form id="new-comment-form" action="/posts/{{this._id}}" method="post">
      <input id="message" type="text" name="message" placeholder="Comment here">
      <input id="comment-submit" type="submit" value="Submit">
    </form>
    
    {{#each this.comments}}
    <!-- Bootstrap grid system -->
    <div class="container post-comment">
      <div class="row">
        <div class="col-10 col-sm-11">
          <div class="comment">{{this.name}} - {{this.message}} - {{this.createdAt}}</div>
        </div>
        <div class="col-1">
          {{#if this.commentOwner}}
            <!-- Delete a comment -->
            <form id="delete-comment-form" action="/posts/comment/delete/{{this.postId}}/{{this._id}}" method="post">
              <input id="delete-button-comment" type="image" src="../images/trash-can.webp" alt="Delete image">
            </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}} 
  </div>
  {{/each}}
</ul>


